/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/************** main code index ******/
.wrapper{
 height: 100%;
 width: 100%;
/* background-color: rgb(255, 0, 0);*/
}
header{
    height: 20vh;
    width: 100%;
    background-color: black;
    overflow: hidden;
}
section{
    height: 66vh;
    max-height: 66vh;
    width: 100%;
    background-color: gray;

}
footer{
    height: 14vh;
    width: 100%;
    background-color: black;
}

.logo
{
    width: 45vw;
    padding-top: 4vh;
    align-items: center;
    justify-content: center;
    float: left;
    padding-left: 2vw;
    line-height:3vh;
}
.logo img{
    min-width: 8vw;
    max-width: 10vw;
    min-height: 8vh;
    max-height: 10vh;
    padding-left: 12vw;
}

.logo h1{
font-size: 2vw;
color: white;
}

li a
{
    color: white;
}

nav
{
    font-size: 1.2vw;
    width: 45vw;
    float: right;
    word-spacing: 2vh;
    padding: 2vw;
}

nav li
{
    display: inline-block;
    line-height: 10vh;
}

section{
    position: relative;
    background-image: url("images/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.box{
    position: relative;
    top: 22vh;
    margin-left: 33vw;
    height: 22vh;
    width: 33vw;
    background: rgba(70, 35, 35, 0.8);
    color: white;
    font-size: 3em;
    overflow: hidden;
    text-align: center;
}
.box h1{
    padding-bottom: 0.4em;
}
.box hr{
    padding:  0;
    margin: 0;
    background-color: yellow;
}